* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  /* Garante que o padding e a borda não expandam o tamanho dos elementos */
}

body {
    font-family: Arial, sans-serif;
    color: black;
    background-color: black;
    
    width: 100%;
    height: 100%;
}
/* Estiliza o header da página */
header {
    display: flex; /* Organiza os itens em linha */
    justify-content: space-around; /* Espaça igualmente os itens */
    align-items: center; /* Alinha os itens verticalmente no centro */
    padding: 10px;
    background-color: rgb(2, 3, 65); /* Cor de fundo clara para o header */
    border-bottom: 1px solid #1565c0;
}

header div {
    display: flex; /* Organiza imagem e texto em linha */
    align-items: center;
}

header img {
    margin-right: 10px; /* Espaço entre a imagem e o texto */
}


header p {
    margin: 0; /* Remove margens padrão do parágrafo */
}

/* Estiliza a seção de apresentação */
#apresentacaoVH {
    text-align: center; /* Alinha o texto ao centro */
    padding: 50px;
    background-color: black; /* Cor de fundo suave */
    /*border: 3px solid #1565c0;*/
}

#apresentacaoVH h1 {
    margin: 0; /* Remove margens padrão */
    font-size: 2em; /* Tamanho da fonte */
    color: white;
}

#apresentacaoVH p {
    font-size: 1.2em; /* Tamanho da fonte do parágrafo */
    color: white; /* Cor do texto */
}

#apresentacaoPessoal {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Uma coluna para ocupar a largura total */
    grid-gap: 20px;
    padding: 20px;
    background-color: rgb(2, 3, 65);
    border: 1px solid #1565c0;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    width: 90%; /* Ocupará 90% da largura da tela */
    max-width: 900px; /* Largura máxima da box */
    min-width: 600px; /* Largura mínima da box */
    margin-left: auto; /* Centraliza a box */
    margin-right: auto; /* Centraliza a box */
}


#apresentacaoPessoal h3 {
    color: #333;
    font-size: 1.2em;
    line-height: 1.5;
}

#apresentacaoPessoal img {
    width: 100%;
    max-width: 500px; /* Ajuste para que a imagem não fique muito grande */
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

#apresentacaoPessoal div {
    text-align: center;
    padding: 10px;
}

/* Box interna para a descrição profissional */
.descricaoProfissional {
    background-color: #3428e9;
    border: 1px solid #000000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    width: 100%; /* Ocupará 90% da largura da box pai */
    max-width: 800px; /* Largura máxima da box */
    min-width: 500px; /* Largura mínima da box */
    height: 350px;
    margin-left: auto; /* Centraliza a box */
    margin-right: auto; /* Centraliza a box */
}

.descricaoProfissional p {
    color: white;
    font-size: 1em;
    line-height: 1.4;
}


/* Estiliza a seção de serviços com Grid */
#servicos {
    display: grid;
    grid-template-columns: repeat(2, 430px); /* 2 colunas de igual largura */
    grid-gap: 10px; /* Espaçamento horizontal e vertical entre as caixas */
    padding: 20px;
    background-color: black;
    margin-bottom: 50px;
    justify-content: center; /* Centraliza as colunas */
}

#servicos h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: white;
    grid-column: span 2; /* Faz o título ocupar toda a largura */
}

/* Estilo padrão para todas as caixas de ação */
.acao1, .acao2, .acao3, .acao4, .acao5 {
    background-color: rgb(2, 3, 65);
    border: 1px solid #1565c0;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%; /* Garante que as caixas tenham a mesma largura */
    max-width: 400px; /* Largura máxima para as caixas */
    text-align: center; /* Centraliza o conteúdo nas caixas */
    justify-self: center; /* Centraliza cada caixa dentro de sua célula */
}


/* Configura a caixa 5 para ocupar toda a largura da última linha */
.acao5 {
    grid-column: 1 / -1; /* Centraliza a caixa ocupando o centro */
    justify-self: center; /* Centraliza a caixa na linha */
    width: 100%; /* Garante que a caixa não ultrapasse o tamanho das outras */
    max-width: 400px; /* Define uma largura máxima para manter o alinhamento */
}
/* Diferenciação das cores do título de cada caixa */
.acao1, .acao2, .acao3, .acao4, .acao5 h3 { color: #1565c0; }

/*Estilo de cada acao*/
.acoes {
    display: grid;
    grid-template-columns: 1fr; /* Define uma coluna */
    grid-gap: 10px; /* Espaçamento horizontal e vertical entre as caixas */
    padding: 20px;
    background-color: black;
    margin-bottom: 50px;
    justify-content: center; /* Centraliza as colunas */
}

.acoes h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: white;
}

.acoes h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
    grid-column: span 2; /* Faz o título ocupar toda a largura */
}

.acao-descricao {
    background-color: rgb(2, 3, 65);
    border: 1px solid #1565c0;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
    justify-self: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza o conteúdo dentro da div */
}

.video-custom {
    margin-bottom: 15px;
    max-width: 1000px; /* Ajuste conforme necessário */
    height: auto;
}

.video-custom iframe {
    width: 100%; /* Garante que o vídeo utilize toda a largura da div */
    max-width: 100%; /* Limita a largura máxima do vídeo */
    height: auto; /* Mantém a proporção do vídeo */
    aspect-ratio: 16 / 9; /* Mantém a proporção de aspecto 16:9 (ou ajuste conforme necessário) */
}

.btn-intro-acoes {
    display: inline-flex;          
    align-items: center; 
    justify-content: center;
    padding: 10px 20px; 
    color: #fff; 
    background-color: #1565c0;
    border: 1px solid #1565c0; 
    border-radius: 5px; 
    font-weight: bold; 
    margin-top: 10px;
    text-decoration: none;  
}

.btn-paginaPrincipal {
    display: inline-block;
    max-width: 200px;
    justify-self: center;
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;    
}



/* Estilo para os botões */
.btn {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

.btn-intro {
    display: inline-flex;          
    align-items: center; 
    justify-content: center;
    padding: 10px 20px; 
    color: #fff; 
    background-color: rgb(2, 3, 65);
    border: 1px solid #1565c0; 
    border-radius: 5px; 
    font-weight: bold; 
    margin-top: 10px;
    text-decoration: none; 
}

.btn-intro img {
    margin-right: 10px;            /* Espaçamento entre a imagem e o texto */
}

.btn:hover {
    background-color: #0056b3;
}

/* Estiliza o footer da página */
footer {
    text-align: center;
    padding: 10px;
    background-color: rgb(2, 3, 65);
    border-top: 1px solid #1565c0;
}

footer p {
    margin: 0;
}

footer a {
    color: #007bff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.responsabilidade-civil {
    color: #fff; /* Cor do texto */
    margin: 15px 0; /* Espaçamento acima e abaixo */
    text-align: center; /* Alinha o texto à esquerda */
    font-size: 10px;
}


/* Estiliza a seção principal */
#InventárioEPlanejamentoSucessório {
    padding: 20px;
    background-color: #e2e2e2; /* Cor de fundo suave */
    margin: 10px;
    border-radius: 5px; /* Canto arredondado */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra leve para profundidade */
}

#InventárioEPlanejamentoSucessório h1 {
    font-size: 1.8em; /* Tamanho da fonte do título */
    margin-bottom: 10px; /* Espaço abaixo do título */
}

#InventárioEPlanejamentoSucessório p {
    font-size: 1em; /* Tamanho da fonte do parágrafo */
    color: #333; /* Cor do texto */
}

p{
    color: white;
}
/* CSS para dispositivos móveis */
@media (max-width: 768px) {
    /* Estilo global */
    body {
        font-size: 1em;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
    }

    /* Header */
    header {
        flex-direction: column; /* Organiza os itens em coluna */
        text-align: center;
    }

    header div {
        flex-direction: column; /* Organiza imagem e texto em coluna */
        align-items: center;
    }

    header img {
        margin-bottom: 5px; /* Espaço entre a imagem e o texto */
        width: 50px; /* Ajuste de tamanho da imagem no celular */
    }

    /* Apresentação */
    #apresentacaoVH {
        padding: 20px;
    }

    #apresentacaoVH h1 {
        font-size: 1.8em;
    }

    #apresentacaoVH p {
        font-size: 1em;
    }

    /* Apresentação pessoal */
    #apresentacaoPessoal {
        grid-template-columns: 1fr; /* Apenas uma coluna no celular */
        padding: 10px;
        min-width: unset; /* Remove o limite mínimo de largura */
    }

    #apresentacaoPessoal img {
        max-width: 300px; /* Ajusta o tamanho máximo da imagem */
    }

    /* Descrição profissional */
    .descricaoProfissional {
        padding: 15px;
        min-width: unset; /* Remove o limite mínimo de largura */
        height: auto; /* Ajuste automático da altura */
        width: 100%;
    }

    /* Seção de serviços */
    #servicos {
        grid-template-columns: 1fr; /* Uma coluna no celular */
        gap: 10px;
        padding: 10px;
    }

    /* Estilo das caixas de ação */
    .acao1, .acao2, .acao3, .acao4, .acao5 {
        grid-column: 1 / -1; /* Ocupa uma coluna */
        justify-self: centers;
        width: 90%;
        max-width: 100%; /* Ajuste para ocupar toda a largura disponível */
    }

    /* Seção de ações */
    .acoes {
        padding: 10px;
    }

    .acao-descricao {
        max-width: 100%; /* Ajuste de largura */
        padding: 10px;
    }

    /* Botões */
    .btn-paginaPrincipal, .btn-intro, .btn {
        max-width: 100%; /* Botões ocupam toda a largura disponível */
        padding: 10px;
    }

    /* Footer */
    footer {
        padding: 10px;
    }

    .responsabilidade-civil {
        font-size: 0.8em; /* Texto menor para celular */
    }
}
